/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q  &kp W  &kp E      &kp R        &kp T        &kp Y    &kp U        &kp I      &kp O    &kp P     &kp BSPC
&none  &kp A  &kp S  &kp D      &kp F        &kp G        &kp H    &kp J        &kp K      &kp L    &kp SEMI  &kp SQT
&none  &kp Z  &kp X  &kp C      &kp V        &kp B        &kp N    &kp M        &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                     &lt 3 ESC  &lt 1 ENTER  &lt 2 TAB    &kp RET  &lt 4 SPACE  &kp DEL
            >;
        };

        sym_layer {
            bindings = <
&trans  &kp PERCENT      &kp LESS_THAN  &kp GREATER_THAN  &kp CARET       &trans          &trans         &kp DOLLAR     &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans       &trans
&trans  &kp EXCLAMATION  &kp MINUS      &kp PLUS          &kp EQUAL       &kp QUESTION    &kp AMPERSAND  &kp COLON      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp HASH     &trans
&trans  &kp TILDE        &kp SLASH      &kp ASTERISK      &kp UNDERSCORE  &kp GRAVE       &kp PIPE       &kp BACKSLASH  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp AT_SIGN  &trans
                                        &trans            &trans          &trans          &trans         &trans         &trans
            >;
        };

        num_layer {
            bindings = <
&trans  &trans  &kp N7        &kp N8        &kp N9  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp N4        &kp N5        &kp N6  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp N3  &kp N0    &trans  &trans  &trans  &trans  &trans  &trans
                              &trans        &trans  &trans    &trans  &trans  &trans
            >;
        };

        fun_layer {
            bindings = <
&trans  &trans           &kp F7  &kp F8  &kp F9  &kp F12    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans           &kp F4  &kp F5  &kp F6  &kp F11    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp PRINTSCREEN  &kp F1  &kp F2  &kp F3  &kp F10    &trans  &trans  &trans  &trans  &trans  &trans
                                 &trans  &trans  &trans     &trans  &trans  &trans
            >;
        };

        nav_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans     &trans     &trans     &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp CAPS    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp INSERT  &trans
                        &trans  &trans  &trans    &trans    &trans     &trans
            >;
        };
    };
};
